.choice {

max-width: 80px;
max-height: 80px;
cursor: pointer;
}

#c1:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
    transition: all 0.2s ease-in-out;
  }
  #c2:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
    transition: all 0.2s ease-in-out;
  }
  #c3:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
    transition: all 0.2s ease-in-out;
  }
  #c4:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
    transition: all 0.2s ease-in-out;
  }


select {

  cursor: pointer;

}


.svgs {

max-width: 300px;
max-height: 300px;


}

h1 {
      font-family: 'Courier New', monospace;
      text-align: center;
      color: white;
      transform: rotate(-10deg);
  }
h2 { 
      font-family: 'Courier New', monospace;
      color: white;
  }

#previewBox, #previewBox2, #previewBox3, #previewBox4 {
  display: none;
}


.colorField {

  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  
}


button:hover{
  opacity:1;
}

#red {
margin: 10px;
background-color: navy;

}

#red:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}

#blue {
  margin: 10px;
background-color: slategray;
  
}

#blue:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}

#green {
  margin: 10px;
background-color: rebeccapurple;
    
}

#green:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}

#yellow {
  margin: 10px;
background-color: Indigo;
      
}

#yellow:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}

#orange {
  margin: 10px;
background-color: orange;
        
}

#orange:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}

#purple {
  margin: 10px;
background-color: purple;
        
}

#purple:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}


#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
  cursor: pointer;
}

#sizeChart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100%;
  position: relative;
  padding-bottom: 3rem;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(126, 106, 98, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(119, 83, 49, 0.8) 45%, rgba(46, 46, 31, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(196, 139, 85, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #74602b;
}

#sizeChartButton{
  
  cursor: pointer;
}

.colorFields {
  transform: rotate(-10deg);
  
}




