#sizechart {

  display: none;

  }

h1 {
      font-family: sans-serif;
      text-align: center;
  }
h2 {
      text-align: left;  
      font-family: sans-serif;
  }

#previewBox, #previewBox2, #previewBox3, #previewBox4 {

  display: none;
  height: 500px;
  width: 450px;

}

.colorField {

  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;

}

button{
  opacity:0.5;
}

button:hover{
  opacity:1;
}

#red {

background-color: red;

}

#blue {

background-color: blue;
  
}
#green {

background-color: green;
    
}

#yellow {

background-color: yellow;
      
}

#orange {

background-color: orange;
        
}

#purple {

background-color: purple;
        
}

.button {

 border: none;

}
