.choice {
margin: 20px;
max-width: 100px;
max-height: 100px;
cursor: pointer;
}


select {

  cursor: pointer;

}


.svgs {
margin: 10px;
max-width: 250px;
max-height: 250px;


}

.svgs2 {

max-width: 150px;
max-height: 150px;

}

h1 {
      font-family: 'Courier New', monospace;
      text-align: center;
    
      
  }
p { 
      font-family: 'Courier New', monospace;
     
  }

#previewBox, #previewBox2, #previewBox3, #previewBox4 {
  display: none;
}


.colorField {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  
}


#navy {
margin: 20px;
background-color: navy;

}

#navy:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}

#Slategray {
  margin: 20px;
background-color: slategray;
  
}

#Slategray:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}

#rebeccapurple {
  margin: 20px;
background-color: rebeccapurple;
    
}

#rebeccapuprle:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}

#Indigo {
  margin: 20px;
background-color: Indigo;
      
}

#Indigo:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}

#orange {
  margin: 20px;
background-color: orange;
        
}

#orange:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}

#purple {
  margin: 20px;
background-color: purple;
        
}

#purple:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 1px 25px rgba(255, 255, 255, 0.4);
  transition: all 0.2s ease-in-out;
}


#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
  cursor: pointer;
}

#sizeChart {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

html {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}


#sizeChartButton{
  display:none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

#WarenkorbUndButton{
  position: fixed;
  width: 300px;
  height: 800px;
  background-color: rgb(199, 199, 199);
  
}

#i1, #i2, #i3, #i4 {

  width: 100%;
  height: 100%;

}

#WarenkorbButton {

  
  margin-top: 20px;
  margin-bottom: 40px;

}

